<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" content="no-cache">
    <meta charset="UTF-8">
    <title>randomKey</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/animation.css">
</head>
<body> {# 网页打开后用js立即添加animate属性 #}
    <section class="main"> {# 网页打开后用js立即添加animate属性 #}
        {# 密码显示区域 #}
        <div class="display"></div> {# 点击密码生成按钮之后用js立即添加animate属性 #}

        {# 密码生成按钮 #}
        <div class="generate">
            <p>生成随机密码</p>
        </div>

        {# 复制密码按钮 #}
        <div class="copy" data-clipboard-target=".display">
            <p>复制随机密码</p>
        </div> {# 点击密码生成按钮之后用js立即添加animates属性 #}

        {# 分割线 #}
        <div class="line"></div> {# 点击密码生成按钮之后用js立即添加animates属性 #}

        {# 可选项 #}
        <div class="option">
            <div class="length" title="8">
                <span>长度</span>
            </div>
            <div class="has_lowercase" title="False">
                <span>小写字母</span>
            </div>
            <div class="has_capital" title="False">
                <span>大写字母</span>
            </div>
            <div class="has_digit" title="False">
                <span>数字</span>
            </div>
            <div class="has_symbol" title="False">
                <span>符号</span>
            </div>
        </div> {# 点击密码生成按钮之后用js立即添加animates属性 #}
        <script type="text/javascript" src="/static/js/index.js"></script>
        <script type="text/javascript" src="/static/js/clipboard.js-master/dist/clipboard.min.js"></script>
        <script type="text/javascript">
            new Clipboard('.copy');
        </script>
    </section>
</body>
</html>
